/equalized_square_fft.wav
/equalized_square_filters.wav
/filter_test.py
/modified_song.wav
/modified_song_fft.wav
/modified_song_fir.wav
/modified_song_no_extension.wav
/sd_test.py
/sea.wav
/sine.wav
/song first extract.mp3
/song.mp3
/square.wav
/test2.py
/test3.py
/test4.py
/test5.py
/test6.py
/test7.py
/test8.py
/test_window.py
/test_window2.py
/test_window3.py
/test_window4.py
/test_window5.py
/test_window6.py
/test_windows10.py
/test_windows11.py
/test_windows7.py
/test_windows8.py
/test_windows9.py
/tinn.code-workspace
/ttt.py